<!DOCTYPE html>
<html>
<head>
  <title>ACCELERATE.LY - Rapid, smart web development</title>
  <meta name='description' content='ACCELERATELY - Rapid, smart web development'/>
  <meta name='keywords' content='berlin web development, Ruby on Rails development, iOS development, android, accelerately, accelerateli, accelerate web development'/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<!--[if lte IE 8]>
	  <%= stylesheet_link_tag "ie8" %>
	<![endif]-->
	<!--[if lte IE 7]>
	  <%= stylesheet_link_tag "ie7" %>
	<![endif]-->	
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
